<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    
    <table border>
        <thead>
            <tr>
                <th>Name</th>
                <th>Add Books</th>
            </tr>
        </thead>
        <tbody>
            {% for author in Authors %}
            <tr data-id='{{ author.id }}'>
                <th>{{ author.author_name }}</th>
                <th><a href="{% url 'create-book' author.id %}">Add books</a></th>
                <th><a href="{% url 'update-books' author.id %}">update books</a></th>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
</body>

</html>