{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="col-sm-10 my-5 About-box">
	<h3>About page</h3>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil saepe ea, accusamus ratione veniam omnis quae facere eos iusto, architecto fugit esse quis quia dicta dolores repudiandae maxime placeat rem? Ipsam in natus libero tempore illo, dolore harum expedita accusantium a est alias mollitia sit dolores ab veniam perspiciatis commodi quisquam rerum sed nulla tenetur. Aliquid enim mollitia tempora illum doloremque, corrupti officiis commodi consequuntur laudantium iusto necessitatibus! Vero consectetur laudantium nisi vel quod necessitatibus distinctio rerum id facere, voluptatum ducimus aperiam sequi optio modi? Id similique consequatur ducimus magnam iste repellendus quia incidunt dolore! Recusandae quod beatae magnam! Rerum?</p>
</div>
{% endblock content %}